.canvas {
  height: 100%;
  width: 100%;
}
.planet__img {
  //margin-bottom: 100vh;
}
canvas {
  //transform: scale(0.5);
}
.planet__img, .tabs__img {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
  background: #060C12;
}
